body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.coming_soon {
  height: 100vh;
  width: 100vw;
  background: url("../assets/images/Clock-Timer.png") no-repeat top/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.coming_soon_timer {
  color: #fafdf9;
  position: relative;
  top: -4rem;
  left: -1rem;
  display: flex;
  gap: 3rem;
  transform: rotateZ(3.5deg);
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0px 0px 20px #36d74f, 0px 0px 20px #36d74f;
}

#hours {
  font-size: 100px;
  position: relative;
  top: -15px;
  left: -10px;
}
#minutes {
  position: relative;
  left: 7px;
  font-size: 92px;
  top: -7px;
}
#seconds {
  position: relative;
  top: 5px;
  font-size: 87px;
  top: -3px;
}
#play_button {
  align-items: center;
  background-clip: padding-box;
  background-color: #26f32e;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.partner_logos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  padding: 20px 0;
}
.partner_logos img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 6px #fff);
}

.social_icons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.social_icons img {
  width: 30px;
  height: 30px;
}

/* Media Queries ------------------------------------------------ */

@media only screen and (max-width: 1600px) {
  .coming_soon_timer {
    top: -7.5rem;
  }
  #hours {
    font-size: 90px;
  }
  #minutes {
    font-size: 85px;
    left: 5px;
  }
  #seconds {
    font-size: 75px;
    right: 5px;
  }
}
@media only screen and (max-width: 1500px) {
  #seconds {
    right: 13px;
  }
  #hours {
    position: relative;
    right: -10px;
  }
}
@media only screen and (max-width: 1440px) {
  .coming_soon_timer {
    gap: 2rem;
    top: -7rem;
  }
  #minutes {
    font-size: 78px;
    top: 5px;
    left: 0;
  }
  #seconds {
    right: 0;
    font-size: 72px;
    top: 9px;
  }
  #hours {
    top: -5px;
  }
}
@media only screen and (max-width: 768px) {
  .partner_logos {
    gap: 1rem;
  }
  .partner_logos img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .partner_logos img {
    width: 80px;
    height: 80px;
  }
  .partner_logos {
    gap: 0rem;
  }
}
